#result-search-input.result-home {

    background-position: center center;
    background-size: cover;
    



}
.top-nav-collapse2 {
    position: relative !important;
    top: 0;
    left: 0;
    width: 100%;
}


.media-result {
    height: auto;
    .blog-info {
        padding: 20px;
    }
    .section-btn {
        margin-top: 10px;
    }
}


.custom-pagination {
    
}